/WebApplication/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs

WebApplication/obj/Debug/netcoreapp3.1/

WebApplication/obj/

WebApplication/bin/Debug/netcoreapp3.1/

DataBase/obj/

DataBase/bin/Debug/netcoreapp3.1/publish/

DataBase/bin/Debug/netcoreapp3.1/

ConsoleApp/obj/Debug/netcoreapp3.1/

ConsoleApp/bin/Debug/netcoreapp3.1/publish/

ConsoleApp/obj/

ConsoleApp/bin/Debug/netcoreapp3.1/
